<script id="editPetModalContent.html" type="text/ng-template">
    <div class="modal-header">
        <h4 class="modal-title">Edit</h4>
    </div>
    <div class="modal-body">
        <form name="petForm">
            <div class="form-group">
                <label for="petImageToUpload">Upload your pet&#39;s picture:</label>
                <input type="file" class="file-input" name="userImageToUpload" id="userImageToUpload" ng-model="thumbnail" file-model="imageFile">
            </div>
            <div class="form-group">
                <label for="inputTitle">Name</label>
                <input type="text" class="form-control" name="inputName" id="inputName" ng-model="pet.name" required>
                <span ng-show="petForm.inputName.$touched && petForm.inputName.$invalid" class="form-error">This field is required.</span>
            </div>

            <div class="form-group">
                <label for="inputType">Type</label>
                <input type="text" class="form-control" name="inputType" id="inputType" ng-model="pet.type" required>
                <span ng-show="petForm.inputType.$touched && petForm.inputType.$invalid" class="form-error">This field is required.</span>
            </div>

            <div class="form-group">
                <label for="inputAge">Age</label>
                <input type="text" class="form-control" name="inputAge" id="inputAge" ng-model="pet.age" required>
                <span ng-show="petForm.inputAge.$touched && petForm.inputAge.$invalid" class="form-error">This field is required.</span>
            </div>

            <div class="form-group">
                <label>Gender</label>
                <select class="form-control" ng-model="pet.gender" name="gender" required>
                    <option value="Intact Male">Intact Male</option>
                    <option value="Neutered Male">Neutered Male</option>
                    <option value="Intact Female">Intact Female</option>
                    <option value="Speyed Female">Speyed Female</option>
                </select>
                <span ng-show="petForm.gender.$touched && petForm.gender.$invalid" class="form-error">This field is required.</span>
            </div>

            <div class="form-group">
                <label for="inputBreed">Breed</label>
                <input type="text" class="form-control" name="inputBreed" id="inputBreed" ng-model="pet.breed" required>
                <span ng-show="petForm.inputBreed.$touched && petForm.inputBreed.$invalid" class="form-error">This field is required.</span>
            </div>

            <div class="form-group">
                <label for="inputDescription">Description</label>
                <textarea row="10" class="form-control" name="inputDescription" id="inputDescription" ng-model="pet.description" required>
                </textarea>
                <span ng-show="petForm.inputDescription.$touched && petForm.inputDescription.$invalid" class="form-error">This field is required.
                </span>
            </div>

            <div ng-messages="petForm.$error" role="alert">
                <div ng-message="required" class="form-error">Please enter all fields.</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok(petForm.$valid)">Submit</button>
    </div>
</script>