<!-- Review Modal -->
<script id="reviewModalContent.html" type="text/ng-template">
    <div class="modal-header">
        <h4 class="modal-title">Review</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="name">Rating:
                    <span class="rating">
                        <span class="star" id="star1" ng-click="submitStar(1)">&#9734;</span>
                        <span class="star" id="star2" ng-click="submitStar(2)">&#9734;</span>
                        <span class="star" id="star3" ng-click="submitStar(3)">&#9734;</span>
                        <span class="star" id="star4" ng-click="submitStar(4)">&#9734;</span>
                        <span class="star" id="star5" ng-click="submitStar(5)">&#9734;</span>
                    </span>
                </label>
            </div>
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea id="review" ng-model="reviewComment"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="ok()">Submit</button>
        </div>
    </form>
</script>