/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  overflow-y: scroll; }

body {
  background-color: #191b1c;
  font-family: "Lato", sans-serif;
  color: white; }

.navbar {
  background-color: #1C1E1F;
  position: fixed;
  z-index: 100;
  width: 100%;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3); }
  .navbar .toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #3A6B7E;
    background-image: none;
    border: 1px solid #FFF;
    border-radius: 4px;
    outline: 0;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in; }
    .navbar .toggle:hover {
      background-color: #264653; }
    .navbar .toggle .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: rgba(255, 255, 255, 0.9); }
    .navbar .toggle .icon-bar + .icon-bar {
      margin-top: 4px; }
  .navbar .collapse-bar {
    border-top: 1px solid #DADADA;
    margin-right: -15px;
    margin-left: -15px; }
  .navbar .logo {
    color: #83A7BB;
    text-decoration: none;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px; }
  .navbar .dropdown .dropdown-menu li a .new {
    display: inline;
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    line-height: 19px;
    color: #FFF;
    border-radius: 50%;
    background-color: #EA6C6C;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px; }
  .navbar ul {
    margin: 0; }
    .navbar ul li {
      cursor: pointer;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
    .navbar ul a {
      text-decoration: none;
      color: #83A7BB;
      font-size: 14px;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
      .navbar ul a:hover {
        background-color: transparent; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: transparent; }

@media (max-width: 767px) {
  .navbar .dropdown .dropdown-toggle {
    display: none; }
  .navbar .dropdown .dropdown-menu {
    display: block;
    position: relative;
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 0; }
    .navbar .dropdown .dropdown-menu li a {
      padding: 10px 15px;
      color: #83A7BB;
      font-size: 14px;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar .toggle {
    display: none; }
  .navbar .collapse-bar {
    display: block;
    border-top: 0;
    margin-right: -15px;
    margin-left: -15px; }
    .navbar .collapse-bar > ul > li {
      height: 50px; }
      .navbar .collapse-bar > ul > li.active, .navbar .collapse-bar > ul > li.active:focus {
        background-color: #222426;
        border-top: 3px solid #3A6B7E; }
        .navbar .collapse-bar > ul > li.active a, .navbar .collapse-bar > ul > li.active:focus a {
          top: -3px; }
      .navbar .collapse-bar > ul > li:hover {
        background-color: #222426; }
    .navbar .collapse-bar .sign-up {
      padding-top: 7px; }
      .navbar .collapse-bar .sign-up > a, .navbar .collapse-bar .sign-up .dropdown > a {
        display: block;
        border-radius: 4px;
        color: #FFF;
        background-color: #3A6B7E;
        padding: 8px 16px;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        .navbar .collapse-bar .sign-up > a:hover, .navbar .collapse-bar .sign-up > a:focus, .navbar .collapse-bar .sign-up .dropdown > a:hover, .navbar .collapse-bar .sign-up .dropdown > a:focus {
          color: #FFF;
          background-color: #264653; }
  .navbar .dropdown .dropdown-menu {
    top: 42px;
    border-radius: 2px; }
    .navbar .dropdown .dropdown-menu li a {
      padding-top: 6px;
      padding-bottom: 6px; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: #DADADA;
  padding: 20px 0; }
  footer .footer-label {
    color: #FFF;
    font-size: 18px;
    text-align: center;
    margin: 15px 0; }
  footer .description {
    font-size: 14px;
    margin: 10px; }
  footer .icons {
    text-align: center; }
    footer .icons .fa {
      cursor: pointer;
      font-size: 30px;
      margin: 8px 10px;
      -webkit-transition: color 0.2s ease-in;
      -moz-transition: color 0.2s ease-in;
      -ms-transition: color 0.2s ease-in;
      -o-transition: color 0.2s ease-in;
      transition: color 0.2s ease-in; }
      footer .icons .fa:hover {
        color: #828282; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  footer {
    padding: 40px 0; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.button {
  text-decoration: none;
  border-radius: 4px;
  color: #FFF;
  background-color: #3A6B7E;
  padding: 8px 16px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .button:hover, .button:focus {
    color: #FFF;
    background-color: #264653;
    text-decoration: none; }
  .button.large {
    padding: 15px 25px; }

.modal form label {
  margin-bottom: 6px; }

.modal form textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px; }

.modal button.btn-primary {
  background-color: #3A6B7E; }
  .modal button.btn-primary:hover, .modal button.btn-primary:focus {
    background-color: #264653; }

.home-header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: #F8F8F8;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header.jpg) no-repeat center center;
  background-size: cover; }
  .home-header .message {
    position: relative;
    padding: 20% 30px; }
    .home-header .message .heading {
      font-size: 24px;
      font-weight: 700; }
    .home-header .message .description {
      font-size: 18px;
      margin: 15px 0 30px; }
  .home-header .buttons li {
    margin-bottom: 10px; }
    .home-header .buttons li a {
      display: inline-block;
      width: 100%; }

.home-features {
  background-color: #3A6B7E;
  color: #FFF;
  padding: 20px 0; }
  .home-features .features-label {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0; }
  .home-features .feature-container {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 300px; }
    .home-features .feature-container .fa {
      font-size: 65px;
      margin-top: 20px; }
    .home-features .feature-container .name {
      font-size: 18px;
      margin: 20px 0; }
    .home-features .feature-container .description {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .home-header .message .heading {
    font-size: 34px;
    line-height: 40px; }
  .home-header .message .description {
    font-size: 18px;
    line-height: 22px; }
  .home-header .buttons li {
    margin-bottom: 0;
    margin-left: 14px;
    display: inline; }
    .home-header .buttons li a {
      display: inline;
      width: auto; }
  .home-features {
    padding: 40px 0; }
    .home-features .features-label {
      font-size: 32px; }
    .home-features .feature-container {
      margin: 0;
      float: left;
      padding: 0px 20px;
      width: 33.33%;
      max-width: none; }
      .home-features .feature-container .name {
        font-size: 24px; }
      .home-features .feature-container .description {
        font-size: 16px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .home-header .message {
    padding: 16% 30px;
    width: 50%;
    text-align: left; }
  .home-header .buttons li:first-child {
    margin-left: 0; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .home-header .message {
    padding: 14% 30px; } }

.search-bar {
  background-color: rgba(0, 0, 0, 0.9);
  color: #FFF;
  padding-top: 50px; }
  .search-bar .search-container {
    padding: 20px 15px; }
  .search-bar .search {
    padding-top: 10px; }
    .search-bar .search label {
      display: none;
      margin-right: 10px; }
    .search-bar .search input[type="text"] {
      font-size: 14px;
      width: 100%;
      border-radius: 4px;
      border: 0;
      padding: 7px;
      color: #000; }
      .search-bar .search input[type="text"]:focus {
        outline: 0; }
  .search-bar .button {
    display: block;
    margin: 10px 0;
    text-align: center; }

.search-results .search-term {
  font-size: 20px;
  font-weight: 700;
  color: #83A7BB;
  margin: 30px 0;
  margin-bottom: 20px; }

.search-results .new-post-btn {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  cursor: pointer; }

.search-results .new-post-link:hover {
  text-decoration: none; }

.search-results .profile {
  border: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px; }

.applied-msg {
  text-align: right;
  color: red; }

.pagination {
  text-align: center;
  display: block; }
  .pagination ul {
    display: inline-block; }

@media (max-width: 767px) {
  .pagination li a {
    padding: 6px 8px;
    font-size: 12px; } }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .search-bar .search-container {
    text-align: center;
    padding: 30px 0px; }
  .search-bar .search {
    display: inline;
    padding: 10px; }
    .search-bar .search label {
      display: inline;
      font-size: 16px; }
    .search-bar .search input[type="text"] {
      width: initial;
      min-width: 150px; }
  .search-bar .button {
    display: block;
    padding: 8px 60px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .search-bar .search input[type="text"] {
    width: initial;
    min-width: 200px; }
  .search-bar .button {
    margin-left: 80px;
    margin-right: 80px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .search-bar .search input[type="text"] {
    width: initial;
    min-width: 200px; }
  .search-bar .button {
    display: inline-block;
    margin: 0;
    margin-left: 15px;
    min-width: 200px; } }

.profile {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 1%;
  padding-bottom: 10px;
  border: 1px solid #3e4346; }
  .profile .user_info {
    margin-bottom: 10px; }
    .profile .user_info .right-corner .button {
      width: 200px;
      height: 35px;
      display: block;
      background-color: #10c8cd;
      color: white;
      border: none;
      border-radius: 5px;
      margin: 0 auto;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
      .profile .user_info .right-corner .button:hover {
        background-color: #0EA3AB; }
      .profile .user_info .right-corner .button:focus {
        outline: 0; }
      .profile .user_info .right-corner .button .icon {
        float: left;
        margin-right: 40px; }
      .profile .user_info .right-corner .button:first-child, .profile .user_info .right-corner .button.closedPost {
        margin-bottom: 5px; }
      .profile .user_info .right-corner .button.closedPost {
        background-color: #B1B1B1;
        cursor: default; }
      .profile .user_info .right-corner .button span {
        position: relative;
        right: 25px;
        top: 1px; }
    .profile .user_info img.add-photo-icon {
      position: absolute;
      margin-left: 50px;
      top: 205px;
      margin-left: 320px;
      border-radius: 25px;
      background-color: #10c8cd; }
  .profile .title {
    font-size: 20px;
    font-weight: bold;
    color: #006e8c;
    margin-bottom: 10px; }
  .profile .rating a {
    font-size: 15px;
    letter-spacing: initial;
    margin-left: 5px;
    cursor: pointer; }
  .profile .date {
    font-size: 14px;
    margin-left: 5px; }
  .profile .review-rating {
    display: inline-block;
    letter-spacing: 0; }
  .profile .info {
    text-align: center;
    overflow: hidden; }
  .profile .info-piece {
    margin-bottom: 8px;
    display: block;
    line-height: 20px; }
    .profile .info-piece.icon-span {
      line-height: 14px; }
    .profile .info-piece .name {
      font-size: 15px;
      display: inline-block;
      width: 70px;
      font-weight: bold; }
    .profile .info-piece .icon {
      display: inline-block; }
  .profile .description {
    padding: 15px;
    line-height: 22px; }
  .profile .nav-bar .nav-item {
    background: none;
    border: none;
    outline: none;
    color: #929292;
    font-size: 20px;
    font-weight: 900;
    padding-left: 2%;
    padding-right: 2%; }
  .profile .nav-bar .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 1px solid #929292;
    margin-top: 5px; }
  .profile .pet, .profile .posting, .profile .history, .profile .review {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    padding: 1%;
    border: 1px solid #3e4346;
    overflow: hidden; }
  .profile img.icon {
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 2px; }
  .profile div.profile-picture {
    height: 160px;
    padding: 10px;
    max-width: 160px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto; }
  .profile div.user-review-photo {
    height: 120px;
    padding: 10px;
    max-width: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto; }
  .profile img.review-user-picture {
    height: 120px;
    padding: 10px; }
  .profile button.apply {
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -ms-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in; }
    .profile button.apply:hover {
      background-color: #0EA3AB; }
  .profile button.apply, .profile button.closed {
    width: 80px;
    height: 35px;
    background-color: #10c8cd;
    color: white;
    border: none;
    border-radius: 5px; }
    .profile button.apply:focus, .profile button.closed:focus {
      outline: 0; }
  .profile button.closed {
    cursor: default;
    background-color: gray; }
  .profile button.delete {
    background-color: #EA6C6C; }
    .profile button.delete:hover {
      background-color: #BB4C4C; }
  .profile button.closeButton {
    background-color: #89D88C; }
    .profile button.closeButton:hover {
      background-color: #6AC76D; }
  .profile div.pets, .profile div.postings, .profile div.histories, .profile div.reviews {
    display: none; }
  .profile .review-description {
    padding-top: 0; }
  .profile .review-user-info {
    font-size: 14px;
    margin: 5px 0; }
    .profile .review-user-info .name {
      color: #337ab7;
      margin-bottom: 5px; }

.rating {
  font-size: 16px;
  display: block;
  color: #10c8cd;
  margin-bottom: 10px;
  cursor: default;
  letter-spacing: 1px; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .profile {
    padding: 30px;
    padding-bottom: 10px; }
    .profile .user_info {
      margin-bottom: 40px; }
      .profile .user_info .info-container {
        float: left;
        min-width: 250px; }
      .profile .user_info .right-corner {
        float: right; }
        .profile .user_info .right-corner .button {
          margin: 0; }
          .profile .user_info .right-corner .button:first-child, .profile .user_info .right-corner .button.closedPost {
            margin-bottom: 10px; }
      .profile .user_info img.add-photo-icon {
        top: 230px;
        margin-left: 50px; }
    .profile .info {
      text-align: left; }
    .profile div.profile-picture {
      float: left;
      height: 160px;
      padding: 0;
      margin-right: 20px;
      max-width: 160px;
      min-width: 160px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block; }
    .profile div.user-review-photo {
      float: left;
      height: 120px;
      padding: 0;
      max-width: 120px;
      min-width: 120px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block; }
    .profile .nav-bar .nav-item {
      font-size: 20px;
      padding-left: 2em;
      padding-right: 2em; }
    .profile button.apply, .profile button.closed {
      width: 100%;
      float: left; }
    .profile button.apply.own {
      width: 120px;
      float: left;
      margin-left: 6px; }
    .profile button.ownClose {
      width: 160px;
      float: left;
      margin-left: 6px; }
    .profile .pet, .profile .posting, .profile .history, .profile .review {
      padding: 30px; }
    .profile .title {
      font-size: 22px; }
    .profile .description {
      padding: 15px 0 0; }
    .profile .left-info {
      float: right;
      width: calc(100% - 185px); }
      .profile .left-info .info-column {
        width: 50%;
        float: left; }
        .profile .left-info .info-column:nth-child(3) {
          width: 100%; }
    .profile .review-info {
      width: calc(100% - 135px); }
    .profile .review-description {
      padding-top: 0; }
    .profile .comment {
      float: right;
      width: calc(100% - 170px); }
    .profile .review-user-info {
      float: left;
      width: 20%;
      font-size: 14px; }
      .profile .review-user-info .name {
        color: #337ab7;
        margin-bottom: 5px; }
    .profile img.review-user-picture {
      padding: 0; } }

.modal-body .pet-review-info {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #cecece;
  padding: 20px;
  margin-bottom: 20px; }

.modal-body div.pet-review-picture {
  display: inline-block;
  height: 100px;
  padding: 10px;
  max-width: 100px;
  min-width: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto; }

.modal-body div.info {
  float: right;
  width: calc(100% - 115px);
  font-size: 14px; }

.modal-body .review-user-info {
  float: left;
  font-size: 14px;
  margin: 5px 0; }
  .modal-body .review-user-info .name {
    color: #337ab7;
    margin-bottom: 5px; }

.modal-body .review-comment {
  float: right;
  width: calc(100% - 150px); }

.modal-body .review-rating {
  display: inline-block;
  letter-spacing: 0; }

.modal-body .date {
  margin-left: 5px; }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .profile {
    padding: 50px;
    padding-bottom: 10px; }
    .profile .user_info img.add-photo-icon {
      top: 250px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .profile .left-info .info-column {
    width: 33%; }
    .profile .left-info .info-column:nth-child(3) {
      width: 20%; }
  .profile button.apply, .profile button.closed {
    float: right;
    width: 100px;
    margin-top: 25px; }
  .profile button.apply.own, .profile button.apply.ownClose {
    margin-top: 5px; } }

.signup {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border: 1px solid #CECECE;
  border-radius: 5px;
  padding: 5%; }
  .signup form .signup-input {
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding-left: 2%;
    margin-top: 15px;
    margin-bottom: 2px;
    border: 1px solid #CECECE;
    border-radius: 5px;
    color: #929292;
    vertical-align: middle;
    overflow: hidden; }
    .signup form .signup-input input {
      float: right;
      width: 58%;
      height: 43px;
      line-height: 43px;
      border: none;
      outline: none;
      vertical-align: bottom;
      color: black; }
  .signup form .form-error {
    font-size: 14px;
    color: #E02D2D; }
  .signup form .center {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold; }
    .signup form .center a {
      display: inline-block;
      color: #10c8cd; }
    .signup form .center .line {
      display: inline-block;
      width: 43%;
      height: 1px;
      border: 1px solid #CECECE;
      margin-bottom: 3px;
      margin-left: 1%;
      margin-right: 1%; }
  .signup form .signup-button {
    width: 100%;
    height: 45px;
    background-color: #10c8cd;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px; }
  .signup form #facebook {
    background-color: #3b5998; }
  .signup form #twitter {
    background-color: #4099ff; }
  .signup form #google {
    background-color: #d34836; }
  .signup form .remember-me {
    margin-top: 10px;
    font-size: 14px; }
    .signup form .remember-me input[type="checkbox"] {
      margin-right: 8px; }
    .signup form .remember-me a {
      float: right;
      color: #10c8cd; }

/* Small devices (550 and up) */
@media (min-width: 550px) {
  .signup {
    width: 500px;
    padding: 30px; }
    .signup form .signup-input input {
      float: right;
      width: 78%; }
    .signup form .center .line {
      width: 45%; } }

.post-header {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border-radius: 5px;
  padding: 5% 0%; }
  .post-header.pet {
    margin-top: 5px;
    margin-bottom: 5px; }
  .post-header .buttons .floatleft {
    float: left; }
  .post-header .buttons .floatright {
    float: right; }
  .post-header .buttons li {
    margin-bottom: 10px; }
    .post-header .buttons li a {
      display: inline-block;
      width: 100%;
      padding: 15px 10px; }

.post {
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  border: 1px solid #3a3f42;
  border-radius: 5px;
  padding: 5%; }
  .post .top-buffer {
    margin-top: 30px; }
  .post .user_info {
    margin-bottom: 20px; }
    .post .user_info .info:first-child {
      margin-bottom: 20px; }
    .post .user_info .info .icon {
      margin: 0px; }
    .post .user_info .info .info-piece-long-text {
      margin-top: 10px;
      display: block;
      text-align: left; }
      .post .user_info .info .info-piece-long-text .name {
        display: inline-block;
        font-weight: bold; }
  .post .description {
    padding: 10px 0; }
  .post form {
    font-size: 14px; }
    .post form input.price {
      display: inline;
      width: 120px; }
      .post form input.price.low {
        margin-right: 5px; }
      .post form input.price.high {
        margin-left: 5px; }
  .post .form-error {
    color: #E02D2D; }
  .post label {
    margin: 2px 0; }
  .post .post-button {
    width: 100%;
    height: 45px;
    background-color: #10c8cd;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px; }
  .post .file-input {
    margin-top: 5px; }
  .post .select-pet {
    display: inline-block;
    width: calc(100% - 105px); }
  .post .add_pet.button {
    display: inline-block;
    text-align: center;
    width: 100px;
    padding-left: 0;
    padding-right: 0; }
  .post .button.closeButton {
    position: relative !important; }
    .post .button.closeButton .fa {
      position: absolute;
      left: 20px;
      font-size: 20px;
      top: 7px; }
    .post .button.closeButton span {
      position: relative !important;
      top: -1px !important;
      right: -7px !important; }

.recommendations {
  border: 0;
  padding: 0;
  margin-top: 0; }
  .recommendations .consider {
    color: #83A7BB;
    font-size: 20px;
    font-weight: 700;
    text-align: center; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .post-header {
    margin-top: 40px;
    margin-bottom: 40px; }
    .post-header .buttons li a {
      padding: 15px 25px; }
  .post button.apply {
    width: 48% !important;
    float: left; }
    .post button.apply:first-child {
      margin-right: 8px !important; }
  .post form input.price {
    width: 150px; }
  .recommendations .consider {
    text-align: left; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .post-header {
    margin-top: 30px;
    margin-bottom: 30px; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .post button.apply {
    float: right;
    width: 200px !important; }
    .post button.apply:first-child {
      margin-right: 0px !important; } }

.admin {
  padding-top: 50px; }
  .admin .title {
    text-align: center;
    border-bottom: 1px solid #BBB;
    padding: 30px 0 10px; }
    .admin .title span {
      font-size: 24px; }
  .admin .dashboard {
    padding: 20px 0; }
    .admin .dashboard .notifications .notice {
      background-color: #222426;
      margin-bottom: 10px;
      width: 100%;
      height: 60px;
      cursor: pointer;
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      -ms-transition: background-color 0.2s ease-in;
      -o-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in; }
      .admin .dashboard .notifications .notice:hover {
        background-color: #DEDEDE; }
      .admin .dashboard .notifications .notice .icon {
        height: 60px;
        width: 60px;
        display: inline-block;
        text-align: center;
        float: left; }
        .admin .dashboard .notifications .notice .icon .fa {
          color: #FFF;
          position: relative;
          font-size: 32px;
          top: 13px; }
          .admin .dashboard .notifications .notice .icon .fa.fa-pencil-square-o {
            top: 16px;
            left: 3px; }
      .admin .dashboard .notifications .notice .message {
        height: 60px;
        display: inline-block;
        width: calc(100% - 60px);
        text-align: center; }
        .admin .dashboard .notifications .notice .message .number {
          display: block;
          font-size: 25px;
          position: relative;
          top: 4px;
          line-height: 34px; }
        .admin .dashboard .notifications .notice .message .type {
          font-size: 16px;
          color: #777; }
      .admin .dashboard .notifications .notice.user .icon {
        background-color: #91CEFF; }
      .admin .dashboard .notifications .notice.user .message .number {
        color: #37A6FF; }
      .admin .dashboard .notifications .notice.posting .icon {
        background-color: #89D88C; }
      .admin .dashboard .notifications .notice.posting .message .number {
        color: #52D457; }
      .admin .dashboard .notifications .notice.report .icon {
        background-color: #EA6C6C; }
      .admin .dashboard .notifications .notice.report .message .number {
        color: #D83D3D; }
      .admin .dashboard .notifications .notice.active .icon {
        background-color: #F1EC61; }
      .admin .dashboard .notifications .notice.active .message .number {
        color: #B1AB0E; }
  .admin .panel {
    margin-bottom: 20px; }
    .admin .panel .panel-heading {
      text-align: center;
      font-size: 28px; }
    .admin .panel .panel-body table th {
      border-bottom: 3px solid #10C8CD; }
    .admin .panel .panel-body table td:first-child {
      line-height: 30px; }
    .admin .panel .panel-body button.admin-button {
      border-radius: 4px;
      color: #FFF;
      padding: 4px 13px;
      border: 0;
      outline: 0; }
      .admin .panel .panel-body button.admin-button.view {
        background-color: #10C8CD; }
      .admin .panel .panel-body button.admin-button.message {
        background-color: #89D88C; }
      .admin .panel .panel-body button.admin-button.edit {
        background-color: #91CEFF; }
      .admin .panel .panel-body button.admin-button.delete {
        background-color: #EA6C6C; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .admin .title span {
    font-size: 28px; }
  .admin .dashboard .notifications .notice {
    margin-bottom: 20px; }
  .admin .panel {
    margin-bottom: 40px; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.messages {
  padding-top: 50px; }
  .messages .panel {
    margin-top: 20px;
    margin-bottom: 20px; }
    .messages .panel .panel-heading {
      text-align: center;
      font-size: 28px; }
    .messages .panel .panel-body {
      padding: 0; }
  .messages .message-container .message {
    border-bottom: 1px solid #DADADA; }
    .messages .message-container .message .info {
      cursor: pointer;
      padding: 15px 15px;
      font-size: 14px; }
      .messages .message-container .message .info .user {
        display: inline;
        float: left; }
      .messages .message-container .message .info .date {
        display: inline;
        float: right; }
      .messages .message-container .message .info .read {
        display: inline;
        cursor: default;
        color: #FFF;
        font-size: 11px;
        margin-left: 10px;
        padding: 4px 6px; }
        .messages .message-container .message .info .read.false {
          background-color: #EA6C6C; }
        .messages .message-container .message .info .read.true {
          background-color: #BBB; }
      .messages .message-container .message .info .posting {
        display: inline;
        cursor: default;
        font-size: 11px;
        margin-left: 10px;
        padding: 4px 6px;
        background-color: rgba(16, 200, 205, 0.58); }
        .messages .message-container .message .info .posting a {
          color: #FFF;
          text-decoration: none; }
    .messages .message-container .message .content {
      display: none;
      padding: 15px 15px;
      font-size: 14px;
      color: #656565;
      border-top: 1px solid #222426; }
      .messages .message-container .message .content .reply {
        display: inline-block;
        cursor: pointer;
        padding: 8px 8px;
        box-sizing: border-box;
        border: 1px solid #DADADA;
        border-radius: 6px;
        font-size: 12px;
        margin-top: 10px;
        -webkit-transition: background-color 0.2s ease-in;
        -moz-transition: background-color 0.2s ease-in;
        -ms-transition: background-color 0.2s ease-in;
        -o-transition: background-color 0.2s ease-in;
        transition: background-color 0.2s ease-in; }
        .messages .message-container .message .content .reply:hover {
          background-color: #1C1E1F; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .messages .message-container .message .info {
    padding: 15px 20px;
    font-size: 16px; }
    .messages .message-container .message .info .read {
      font-size: 12px; }
    .messages .message-container .message .info .posting {
      font-size: 14px; }
  .messages .message-container .message .content .reply {
    padding: 10px 20px; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
.forum {
  padding-top: 50px;
  background-color: #172222;
  margin-bottom: 20px; }
  .forum .title {
    text-align: center;
    padding: 30px 0 10px;
    color: #84b4c6; }
    .forum .title span {
      font-size: 24px; }
  .forum .new-post {
    font-size: 14px;
    background-color: #DCF2F3;
    border: 1px solid #DADADA;
    border-radius: 0;
    padding: 10px;
    margin: 0;
    margin-bottom: 6px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
    .forum .new-post .top {
      margin-bottom: 5px; }
      .forum .new-post .top textarea#post, .forum .new-post .top textarea#post:focus {
        width: 100%;
        font-size: 14px;
        height: 60px;
        border: 1px solid #10C8CD;
        border-radius: 4px;
        box-shadow: none;
        outline: 0;
        color: #888;
        box-sizing: border-box; }
    .forum .new-post .bottom .type {
      float: left; }
      .forum .new-post .bottom .type li {
        float: left; }
        .forum .new-post .bottom .type li:first-child {
          margin-right: 10px; }
    .forum .new-post .bottom .postButton {
      float: right;
      outline: 0;
      cursor: pointer;
      box-sizing: border-box;
      border-left: 1px solid #DDD;
      height: 35px;
      padding: 9px 0px;
      width: 70px;
      text-align: center;
      border: 0; }
  .forum .post-container .post {
    background-color: #181a1b;
    border: 1px solid #3a3f42;
    border-radius: 0;
    padding: 15px 15px;
    margin: 0;
    margin-bottom: 6px;
    word-wrap: break-word;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
    .forum .post-container .post .info {
      font-size: 14px; }
      .forum .post-container .post .info .left {
        float: left; }
        .forum .post-container .post .info .left .name a {
          font-weight: 700;
          color: #84b4c6; }
        .forum .post-container .post .info .left .action {
          color: #888; }
      .forum .post-container .post .info .right {
        float: right; }
        .forum .post-container .post .info .right .location {
          color: #888;
          font-size: 13px; }
          .forum .post-container .post .info .right .location .fa-map-marker {
            font-size: 15px;
            margin-left: 5px;
            color: #03A9F4; }
        .forum .post-container .post .info .right .likes {
          color: #888;
          font-size: 13px;
          margin-left: 10px; }
          .forum .post-container .post .info .right .likes .fa-heart {
            cursor: pointer;
            font-size: 14px;
            margin-left: 5px;
            color: #e81c4f; }
        .forum .post-container .post .info .right .date {
          color: #888;
          margin-left: 10px; }
    .forum .post-container .post .content {
      font-size: 14px;
      margin-top: 15px; }
      .forum .post-container .post .content.image {
        text-align: center; }
      .forum .post-container .post .content img {
        max-height: 200px;
        max-width: 100%; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .forum .title span {
    font-size: 28px; }
  .forum .new-post {
    font-size: 16px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 15px; }
    .forum .new-post .top textarea#post, .forum .new-post .top textarea#post:focus {
      font-size: 16px;
      height: 80px; }
  .forum .post-container {
    width: 700px;
    margin: 0 auto; }
    .forum .post-container .post {
      margin-bottom: 15px;
      padding: 15px 20px; }
      .forum .post-container .post .info {
        font-size: 16px; }
        .forum .post-container .post .info .right .location {
          position: relative;
          top: -1px; }
          .forum .post-container .post .info .right .location .fa-map-marker {
            position: relative;
            top: -0px; }
        .forum .post-container .post .info .right .likes {
          position: relative;
          top: -1px; }
      .forum .post-container .post .content {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px; }
        .forum .post-container .post .content img {
          max-height: 250px; } }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
