<!-- Applications -->
<div class="messages">
    <div class="container">

        <!-- Inbox -->
        <div class="panel panel-default application">
            <div class="panel-heading">Applications Received</div>

            <div class="panel-body">
                <div class="message-container received">
                    <div class="message" ng-repeat="application in receivedApps | filter:query | orderBy: '-created_at' ">
                        <div class="info" id="received{{$index}}" ng-click="setRead(application.app_id, $index)">
                            <div class="user">{{application.from}}</div>
                            <div class="posting">
                                <a href="{{application.url}}">Posting ID: {{application.posting_id}}</a>
                            </div>
                            <div class="read {{application.read}}">{{isReadReceived(application.read)}}</div>
                            <div class="date">{{application.created_at|date:'MM/dd/yyyy hh:mma'}}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="content">
                            <div>
                                {{application.message}}
                            </div>
                            <div class="reply" data-toggle="modal" data-target="#messageModal" ng-click="reply(application.from_id)">
                                <i class="fa fa-reply"></i>&nbsp;&nbsp;Reply
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sent -->
        <div class="panel panel-default application">
            <div class="panel-heading">Applications Sent</div>

            <div class="panel-body">
                <div class="message-container">
                    <div class="message" ng-repeat="application in sentApps | filter:query | orderBy: '-created_at' ">
                        <div class="info" id="sent{{$index}}" ng-click="showContent($index)">
                            <div class="user">{{application.to}}</div>
                            <div class="posting">
                                <a href="{{application.url}}">Posting ID: {{application.posting_id}}</a>
                            </div>
                            <div class="read {{application.read}}">{{isReadSent(application.read)}}</div>
                            <div class="date">{{application.created_at|date:'MM/dd/yyyy hh:mma'}}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="content">
                            <div>
                                {{application.message}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <textarea name="comment" ng-model="msg_content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendMsg()">Send</button>
            </div>
        </div>
    </div>
</div>