<!DOCTYPE html> 
<html>

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Messages -->
<div class="messages">
    <div class="container">

        <!-- Inbox -->
        <div class="panel panel-default inbox">
            <div class="panel-heading">Inbox</div>

            <div class="panel-body">
                <div class="message-container">
                    <div class="message" ng-repeat="message in inbox | filter:query | orderBy: '-created_at' ">
                        <div class="info" id="inbox{{$index}}" ng-click="setRead(message.msg_id, $index)">
                            <div class="user">{{message.from}}</div>
                            <div class="read {{message.read}}">{{isReadInbox(message.read)}}</div>
                            <div class="date">{{message.created_at|date:'MM/dd/yyyy hh:mma'}}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="content">
                            <div>
                                {{message.message}}
                            </div>
                            <div class="reply" data-toggle="modal" data-target="#messageModal" ng-click="reply(message.from_id)">
                                <i class="fa fa-reply"></i>&nbsp;&nbsp;Reply
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Sent -->
        <div class="panel panel-default sent">
            <div class="panel-heading">Sent</div>

            <div class="panel-body">
                <div class="message-container">
                    <div class="message" ng-repeat="message in sent | filter:query | orderBy: '-created_at' ">
                        <div class="info" id="sent{{$index}}" ng-click="showContent($index)">
                            <div class="user">{{message.to}}</div>
                            <div class="read {{message.read}}">{{isReadSent(message.read)}}</div>
                            <div class="date">{{message.created_at|date:'MM/dd/yyyy hh:mma'}}</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="content">
                            <div>
                                {{message.message}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Message</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <textarea name="comment" ng-model="msg_content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendMsg()">Send</button>
            </div>
        </div>
    </div>
</div>