<div class="content">
    <div class="container">
        <div class="profile">
            <!-- User Info -->
            <div class="user_info">
                <img ng-if="editMode" class="add-photo-icon" src="/assets/images/icon-add-a-photo.png">
                <div class="info">
                    <div class="profile-picture" ng-if="!editMode" ng-style="{ 'background-image': 'url(' + user.photo + ')' }" alt="profile picture">
                    </div>
                    <div ng-if="editMode" class="profile-picture" ng-style="{ 'background-image': 'url(' + editUserData.photo + ')' }" alt="profile picture">
                        <input type="file" style="opacity: 0;width: 100%;height: 100%;" ng-model="thumbnail" file-model="imageFile" onchange="angular.element(this).scope().uploadUserImage(this)">
                    </div>
                        <div class="info-container">
                        <div class="title" ng-if="!editMode">
                            {{ user.name }}
                        </div>
                        <div class="title" ng-if="editMode">
                            <input ng-model="editUserData.name" name="uesrName" class="form-control" type="text">
                        </div>
                        <div class="rating">
                            <span ng-repeat="i in range(user.rating)">
                                &#9733;
                            </span>
                            <span ng-repeat="i in range(5 - user.rating)">
                                &#9734;
                            </span>
                            <a class="showReview" ng-click="select('review')">{{ userReviewTotal }} &nbsp;Reviews</a>
                        </div>
                        <span ng-if="!editMode">
                            <span class="info-piece">
                                <span class="name">Location</span>
                                <span class="value">{{ user.location }} </span>
                            </span>
                            <span class="info-piece">
                                <span class="name">Email</span>
                                <span class="value">{{ user.email }}</span>
                            </span>
                        </span>
                        <span ng-if="editMode">
                            <span class="info-piece">
                                <input ng-model="editUserData.location" name="userLocation" class="form-control" type="text" placeholder="Your Location">
                            </span>
                            <span class="info-piece">
                                <input ng-model="editUserData.email" name="userEmail" class="form-control" type="text" placeholder="Your email">
                            </span>
                        </span>
                    </div>
                    <div class="right-corner" ng-if="userId !== profileUserId">
                        <button type="button" class="button" ng-click="openMessageModal('lg')">
                           <img class="icon" src="/assets/images/icon-message.svg">
                           <span>Message</span>
                        </button>
                        <button type="button" class="button" ng-click="openReportModal('lg')">
                            <img class="icon" src="/assets/images/icon-report.svg">
                            <span>Report</span>
                        </button>
                    </div>
                    <div class="right-corner" ng-if="userId === profileUserId && !editMode">
                        <button type="button" class="button" ng-click="toggleEditMode()">
                           <img class="icon" src="/assets/images/icon-settings.svg">
                           <span>Edit</span>
                        </button>
                    </div>
                    <div class="right-corner" ng-if="userId === profileUserId && editMode">
                        <button type="button" class="button" ng-click="exitEditMode('save')">
                           <img class="icon" src="/assets/images/icon-save.svg">
                           <span>Save</span>
                        </button>
                        <button type="button" class="button" ng-click="exitEditMode('cancel')">
                           <img class="icon" src="/assets/images/icon-close.svg">
                           <span>Cancel</span>
                        </button>
                    </div>
                </div>
                <p class="description" ng-if="!editMode">
                    {{ user.description }}
                </p>
                <p class="description" ng-if="editMode">
                    <textarea ng-model="editUserData.description" name="userDescription" class="form-control" placeholder="Please tell us more about yourself.">
                    </textarea>
                </p>
            </div>

            <!-- nav bar for pets postings history -->
            <div class="nav-bar">
                <button class="nav-item" href="#pet" ng-style="checkTitleStyle('pet')" ng-click="select('pet')">
                    Pets
                </button>
                <button class="nav-item" href="#posting" ng-style="checkTitleStyle('posting')" ng-click="select('posting')">
                    Postings
                </button>
                <button class="nav-item" href="#history" ng-style="checkTitleStyle('history')" ng-click="select('history')">
                    History
                </button>
                <button class="nav-item" href="#review" ng-style="checkTitleStyle('review')" ng-click="select('review')">
                    Review
                </button>
                <span class="line"></span>
            </div>

            <!-- Pets -->
            <div class="pets" ng-repeat="pet in pets" ng-style="checkDisplayStyle('pet')">
                <div class="pet">
                    <div class="info">
                        <div class="profile-picture"  ng-show="pet.photo" ng-style="{ 'background-image': 'url(' + pet.photo + ')' }" alt="pet picture"></div>
                        <div class="left-info">
                            <div class="title">{{ pet.name }}</div>
                            <span class="rating">
                                <span ng-repeat="i in range(pet.rating)">
                                    &#9733;
                                </span>
                                <span ng-repeat="i in range(5 - pet.rating)">
                                    &#9734;
                                </span>
                                <a class="showReview" ng-click="openPetReviewModal('lg', pet.reviews)">{{ pet.reviews.length }} &nbsp;Reviews</a>
                            </span>
                            <div>
                                <div class="info-column">
                                    <span class="info-piece icon-span">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-icon-pet.svg"></span>
                                        <span class="value">{{ pet.type }}</span>
                                        </span>
                                        <span class="info-piece icon-span">
                                            <span class="icon"><img class="icon" src="/assets/images/icon-age.svg"></span>
                                            <span class="value">{{ pet.age }} years old</span>
                                        </span>
                                    </div>
                                    <div class="info-column">
                                        <span class="info-piece">
                                            <span class="name">Gender</span>
                                            <span class="value">{{ pet.gender }}</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="name">Breed</span>
                                            <span class="value">{{ pet.breed }}</span>
                                        </span>
                                    </div>
                                    <div class="info-column" ng-if="userId == profileUserId ">
                                        <button class="apply" type="button" ng-click="openEditPetModal('lg', pet)">Edit</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <p class="description">
                        {{ pet.description }}
                    </p>
                </div>
            </div>


            <!-- Postings -->
            <div class="postings" ng-style="checkDisplayStyle('posting')">
                <div class="posting" ng-repeat="post in open_posts">
                    <div class="info">
                        <div class="profile-picture" ng-style="{ 'background-image': 'url(' + post.thumbnail + ')' }" alt="pet picture"></div>
                        <div class="left-info">
                            <div class="title">
                                <a ng-if="isNumber(post.user)" ng-href="/pet_posts/{{ post._id }}">{{ post.title }}</a>
                                <a ng-if="!isNumber(post.user)" ng-href="/petsitter_posts/{{ post._id }}">{{ post.title }}</a>
                            </div>
                            <div>
                                <div class="info-column">
                                    <span class="rating" ng-if="isNumber(post.user)">
                                        <span ng-repeat="i in range(post.pet.rating)">
                                            &#9733;
                                        </span>
                                        <span ng-repeat="i in range(5 - post.pet.rating)">
                                            &#9734;
                                        </span>
                                        <a class="showReview" ng-click="openPetReviewModal('lg', post.pet.reviews)">
                                            {{ post.pet.reviews.length }} &nbsp;Reviews
                                        </a>
                                    </span>
                                    <span class="rating" ng-if="!isNumber(post.user)">
                                        <span ng-repeat="i in range(post.user.rating)">
                                            &#9733;
                                        </span>
                                        <span ng-repeat="i in range(5 - post.user.rating)">
                                            &#9734;
                                        </span>
                                        <a class="showReview" ng-click="select('review')">{{ userReviewTotal }} &nbsp;Reviews</a>
                                    </span>
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-icon-pet.svg"></span>
                                        <span class="value">{{ post.pet.type || post.types }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-calendar.svg"></span>
                                        <span class="value">{{ post.duration }}</span>
                                    </span>
                                </div>
                                <div class="info-column">
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-location.svg"></span>
                                        <span class="value">{{ post.location }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-price.svg"></span>
                                        <span class="value">{{ post.price }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-age.svg"></span>
                                        <span class="value">{{ post.pet.age || post.experience }}</span>
                                    </span>
                                </div>
                                <div class="info-column" ng-if="userId !== profileUserId">
                                    <button class="apply" type="button" ng-click="openApplyModal('lg', isNumber(post.user), post._id)">Apply</button>
                                </div>
                                <div class="info-column" ng-if="userId == profileUserId ">
                                    <button class="apply own" type="button" ng-click="openEditPostingModal('lg', post)">Edit</button>
                                    <button class="apply own closeButton" type="button" ng-click="closePost(post._id, post.postingType)">Close</button>
                                    <button class="apply own delete" type="button" ng-click="deletePost(post._id, post.postingType)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="description">
                        {{ post.description}}
                        <a ng-if="isNumber(post.user)" ng-href="/pet_posts/{{ post._id }}">&nbsp;See More</a>
                        <a ng-if="!isNumber(post.user)" ng-href="/petsitter_posts/{{ post._id }}">&nbsp;See More</a>
                    </p>
                </div>
            </div>

            <!-- History -->
            <div class="histories" ng-style="checkDisplayStyle('history')">
                <div class="history" ng-repeat="post in closed_posts">
                    <div class="info">
                        <div class="profile-picture" ng-style="{ 'background-image': 'url(' + post.thumbnail + ')' }" alt="post picture"></div>
                        <div class="left-info">
                            <div class="title">
                                <a ng-if="isNumber(post.user)" ng-href="/pet_posts/{{ post._id }}">{{ post.title }}</a>
                                <a ng-if="!isNumber(post.user)" ng-href="/petsitter_posts/{{ post._id }}">{{ post.title }}</a>
                            </div>
                            <div>
                                <div class="info-column">
                                    <span class="rating" ng-if="isNumber(post.user)">
                                        <span ng-repeat="i in range(post.pet.rating)">
                                            &#9733;
                                        </span>
                                        <span ng-repeat="i in range(5 - post.pet.rating)">
                                            &#9734;
                                        </span>
                                        <a class='showReview'>{{ post.pet.reviews.length }} &nbsp;Reviews</a>
                                    </span>
                                    <span class="rating" ng-if="!isNumber(post.user)">
                                        <span ng-repeat="i in range(post.user.rating)">
                                            &#9733;
                                        </span>
                                        <span ng-repeat="i in range(5 - post.user.rating)">
                                            &#9734;
                                        </span>
                                        <a class="showReview" ng-click="select('review')">{{ userReviewTotal }} &nbsp;Reviews</a>
                                    </span>
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-icon-pet.svg"></span>
                                        <span class="value">{{ post.pet.type || post.types }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-calendar.svg"></span>
                                        <span class="value">{{ post.duration }}</span>
                                    </span>
                                </div>
                                <div class="info-column">
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-location.svg"></span>
                                        <span class="value">{{ post.location }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-price.svg"></span>
                                        <span class="value">{{ post.price }}</span>
                                    </span>
                                    <span class="info-piece">
                                        <span class="icon"><img class="icon" src="/assets/images/icon-age.svg"></span>
                                        <span class="value">{{ post.pet.age || post.experience }}</span>
                                    </span>
                                </div>
                                <div class="info-column" ng-if="userId != profileUserId ">
                                    <button class="closed">Closed</button>
                                </div>
                                <div class="info-column" ng-if="userId == profileUserId ">
                                    <button class="closed ownClose">Closed</button>
                                    <button class="apply ownClose" type="button" ng-click="reopenPost(post._id, post.postingType)">Reopen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="description">
                        {{ post.description }}
                        <a ng-if="isNumber(post.user)" ng-href="/pet_posts/{{ post._id }}">&nbsp;See More</a>
                        <a ng-if="!isNumber(post.user)" ng-href="/petsitter_posts/{{ post._id }}">&nbsp;See More</a>
                    </p>
                </div>
            </div>

            <!-- Reivews -->
            <div class="reviews" ng-style="checkDisplayStyle('review')">
                <div class="review" ng-repeat="review in reviews">
                    <div class="info">
                        <div class="user-review-photo" ng-style="{ 'background-image': 'url(' + review.from.photo + ')' }" alt="user picture"></div>
                        <div class="left-info review-info">
                            <div class="review-user-info">
                                <div class="name">
                                    <a ng-href="/users/{{ review.from._id}}">
                                        {{ review.from.name }}
                                    </a>
                                </div>
                                <div class="location">
                                    {{ review.from.location }}
                                </div>
                            </div>
                            <div class="comment">
                                <span class="rating review-rating">
                                    <span ng-repeat="i in range(review.rating)">
                                        &#9733;
                                    </span>
                                    <span ng-repeat="i in range(5 - review.rating)">
                                        &#9734;
                                    </span>
                                </span>
                                <span class="date">
                                    {{ review.updated_at | date: 'yyyy-MM-dd' }}
                                </span>
                                <p class="description review-description">
                                    {{ review.comment }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include src="'/modals/petReviewModal.html'"></div>
<div ng-include src="'/modals/messageModal.html'"></div>
<div ng-include src="'/modals/applyModal.html'"></div>
<div ng-include src="'/modals/reportModal.html'"></div>
<div ng-include src="'/modals/editPetModal.html'"></div>
<div ng-include src="'/modals/editPostingModal.html'"></div>