
    <!-- Content goes here -->
    <div class="content">
        <div class="container">

            <div class="post-header">
                <ul class="buttons">
                    <div class="floatleft">
                        <li>
                            <a href="pet_posts" class="button large">
                                <span class="button-label">Go Back To Posting</span>
                            </a>
                        </li>
                    </div>
                </ul>
            </div>

            <div class="post">
                <form ng-controller="petPostingFormController" name="postingForm">
                    <div class="form-group">
                        <label for="petImageToUpload">Upload your pet's picture:</label>
                        <input type="file" class="file-input" name="userImageToUpload" id="userImageToUpload" ng-model="thumbnail" file-model="imageFile">
                    </div>

                    <div class="form-group">
                        <label for="inputTitle">Title</label>
                        <input type="text" class="form-control" name="inputTitle" id="inputTitle" ng-model="title" required>
                        <span ng-show="postingForm.inputTitle.$touched && postingForm.inputTitle.$invalid" class="form-error">This field is required.</span>
                    </div>

                    <div class="form-group select-pet">
                        <label >Pet/Plant</label>
                        <select class="form-control" name="inputPet" ng-model="inputPet" required>
                            <option value="{{ pet._id }}" ng-repeat="pet in userPets">{{ pet.name }}</option>
                        </select>
                    </div>
                    <a href="new_pet" class="add_pet button">Add a Pet/Plant</a>

                    <div class="row">
                        <div class="col-md-6">
                            <h4>Begin date</h4>
                            <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="dt1" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>

                        <div class="col-md-6">
                            <h4>End date</h4>
                            <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" name="dt2" required/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </p>
                        </div>
                    </div>
                    <span ng-show="(postingForm.dt1.$touched && postingForm.dt1.$invalid) || (postingForm.dt2.$touched && postingForm.dt2.$invalid)" class="form-error">This field is required.</span>

                    <div class="form-group">
                        <label for="inputLocation">Location</label>
                        <input type="text" class="form-control" name="inputLocation" id="inputLocation" placeholder="Please specify city at least" ng-model="location" required>
                        <span ng-show="postingForm.inputLocation.$touched && postingForm.inputLocation.$invalid" class="form-error">This field is required.</span>
                    </div>

                    <div class="form-group">
                        <label for="inputPrice">Price ($ per day)</label>
                        <input type="number" class="form-control" name="inputPrice" id="inputPrice" ng-model="price" required>
                        <span ng-show="postingForm.inputPrice.$touched && postingForm.inputPrice.$invalid" class="form-error">This field is required.</span>
                    </div>

                    <div class="form-group">
                        <label for="inputPetSupplies">Supplies</label>
                        <input type="text" class="form-control" name="inputPetSupplies" id="inputPetSupplies" ng-model="supplies" required>
                        <span ng-show="postingForm.inputPetSupplies.$touched && postingForm.inputPetSupplies.$invalid" class="form-error">This field is required.</span>
                    </div>

                    <div class="form-group">
                        <label for="inputMedicine">Medicine or Special Diet</label>
                        <input type="text" class="form-control" name="inputMedicine" id="inputMedicine" ng-model="additional_info" required>
                        <span ng-show="postingForm.inputMedicine.$touched && postingForm.inputMedicine.$invalid" class="form-error">This field is required.</span>
                    </div>

                    <div class="form-group">
                        <label for="inputDescription">Description</label>
                        <textarea row="10" class="form-control" name="inputDescription" id="inputDescription" ng-model="description" required></textarea>
                        <span ng-show="postingForm.inputDescription.$touched && postingForm.inputDescription.$invalid" class="form-error">This field is required.</span>
                    </div>

                    <div ng-messages="postingForm.$error" role="alert">
                        <div ng-message="required" class="form-error">Please enter all fields.</div>
                    </div>
                    <button ng-click="createPosting(postingForm.$valid)" type="button" class="post-button">Submit</button>

                </form>
            </div>
        </div>
    </div>
