<!-- Header -->
<div class="home-header">
    <div class="container">

     <div class="row">
        <div class="message">
        <div class="heading">Need to find care taker when you are away from home?</div>
        <div class="description">Connect with people in your neighbourhood who you can trust to look after your pets while you are away or offer your care taking services.</div>
                <ul class="buttons">
                    <li>
                        <a href="/petsitter_posts" class="button large">
                            <span class="button-label">Hire a Care Taker</span>
                        </a>
                    </li>
                    <li>
                        <a href="/pet_posts" class="button large">
                            <span class="button-label">Offer Care Taking</span>
                        </a>
                     </li>
                </ul>
            </div>
        </div>
    </div>
</div>
        
<!-- Features -->
<div class="home-features">
    <div class="container">
        <div class="features-label">
            Our features
        </div>

        <div class="feature-container">
            <i class="fa fa-pencil-square-o"></i>
            <div class="name">
        		Create
        	</div>
            <div class="description">
                Create a listing with the information about your pet such as the gender and breed, your location, date range, and price.
            </div>
        </div>

        <div class="feature-container">
            <i class="fa fa-search"></i>
    		<div class="name">
            	Search
            </div>
            <div class="description">
    	     	Our search function can help you find care takers near you. Read through reviews and ratings to find your best match.
            </div>
        </div>

        <div class="feature-container">
            <i class="fa fa-comments"></i>
            <div class="name">
                Connect
        	</div>
            <div class="description">
                We will connect you with your potential care takers and let you choose who you want to look after your pet.
            </div>
        </div>
    </div>
</div>