<div class="content"><!-- Post -->
    <div class="container">
        <!-- Two buttons on the top of the page -->
        <div class="post-header">
            <ul class="buttons">
                <div class="floatleft">
                    <li>
                        <a href="petsitter_posts" class="button large">
                            <span class="button-label">Go Back To Posting</span>
                        </a>
                    </li>
                </div>

                <div class="floatright">
                    <li>
                        <a href="users/{{ sitterPosting.user._id }}" class="button large">
                            <span class="button-label">View User Profile</span>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
            
        <!-- Details of the specific post -->
        <div class="post profile">
            <!-- User Info -->
            <div class="user_info">
                <div class="info">
                    <div class="profile-picture"  ng-style="{ 'background-image': 'url(' + sitterPosting.thumbnail + ')' }" alt="profile picture"></div>
                    <div class="left-info">
                        <div class="title">{{ sitterPosting.title }}</div>
                        <div>
                            <div class="info-column">
                                <div class="rating">
                                    <span id="rating-1">
                                        {{rating(userRating, -1)}}
                                    </span>
                                    <a href="users/{{ sitterPosting.user._id }}/#review">{{ userReviewTotal }} &nbsp;Reviews</a>
                                </div>
                                <span class="info-piece">
                                    <img class="icon" src="assets/images/icon-icon-pet.svg">
                                    <span class="value">{{ sitterPosting.types }}</span>
                                </span>
                                <span class="info-piece">
                                    <img class="icon" src="assets/images/icon-calendar.svg">
                                    <span class="value">{{ sitterPosting.duration }}</span>
                                </span>
                            </div>
                            <div class="info-column">
                                <span class="info-piece">
                                    <img class="icon" src="assets/images/icon-location.svg">
                                    <span class="value">{{ sitterPosting.location }}</span>
                                </span>
                                <span class="info-piece">
                                    <img class="icon" src="assets/images/icon-price.svg">
                                    <span class="value">{{ sitterPosting.price }} per day</span>
                                </span>
                                <span class="info-piece">
                                    <img class="icon" src="assets/images/icon-age.svg">
                                    <span class="value">{{ sitterPosting.experience }} experience</span>
                                </span>
                            </div>
                            <div class="info-column right-corner">
                                <button class="button apply" ng-click="openApplyModal('lg', false, sitterPosting._id)" ng-hide="closedPost || ownPost">
                                    <img class="icon" src="assets/images/icon-message.svg">
                                    <span>Apply</span>
                                </button>
                                <button class="button apply closedPost" ng-show="closedPost">
                                    <img class="icon" src="assets/images/icon-message.svg">
                                    <span>Closed</span>
                                </button>
                                <button class="button apply" ng-click="openReviewModal('lg', 'petSitter', sitterPosting._id)" ng-hide="ownPost">
                                    <img class="icon" src="assets/images/icon-comment.svg">
                                    <span>Review</span>
                                </button>
                                <button class="button apply closeButton" ng-show="ownPost && !closedPost" ng-click="closePosting(sitterPosting._id)">
                                    <i class="fa fa-times"></i>
                                    <span>Close Posting</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <span class="info-piece-long-text">
                        <span class="name">Number of Pets / Plants</span>
                        <span class="value">{{ sitterPosting.number_of_pets }}</span>
                    </span>
                    <span class="info-piece-long-text">
                        <span class="name">Supplies at home</span>
                        <span class="value">{{ sitterPosting.supplies }}</span>
                    </span>
                </div>
            </div>    
            <p class="description">
                {{ sitterPosting.description }}
            </p>
        </div>

            <div class="recommendations profile">
                <div class="consider">
                    You might also consider
                </div>
                <!-- Recommendations -->
                <div class="recommend">
                    <div class="posting" ng-repeat="post in recomm_posts" ng-show="post.show">
                        <p class="applied-msg" ng-show="post.applied">You already applied for this posting.</p>
                        <div class="info">
                            <div class="profile-picture"  ng-style="{ 'background-image': 'url(' + post.thumbnail + ')' }" alt="profile picture"></div>
                            <div class="left-info">
                                <div class="title"><a href ="" ng-click="showDetailPost(post.posting_id)">{{post.title}}</a></div>
                                <div>
                                    <div class="info-column">
                                        <span class="rating" id="rating{{$index}}">
                                            {{rating(post.rating, $index)}}
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/images/icon-icon-pet.svg"></span>
                                            <span class="value">{{post.types}}</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/images/icon-calendar.svg"></span>
                                            <span class="value">{{post.duration}}</span>
                                        </span>
                                    </div>
                                    <div class="info-column">
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/images/icon-location.svg"></span>
                                            <span class="value">{{post.location}}</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/images/icon-price.svg"></span>
                                            <span class="value">{{post.price}} per day</span>
                                        </span>
                                        <span class="info-piece">
                                            <span class="icon"><img class="icon" src="assets/images/icon-age.svg"></span>
                                            <span class="value">{{post.experience}} experience</span>
                                        </span>
                                    </div>
                                    <div class="info-column">
                                        <button class="apply" ng-click="openApplyModal('lg', false, post.posting_id)">Apply</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <p class="description">
                        {{post.description | limitTo: 200}}...
                         <a href="" ng-click="showDetailPost(post.posting_id)">See More</a>
                    </p>
                </div>
            </div>
        </div>
    </div>    
</div>	

<!-- Apply Modal -->
<div ng-include src="'/modals/applyModal.html'"></div>

<!-- Review Modal -->
<div ng-include src="'/modals/reviewModal.html'"></div>