.navbar {

	background-color: $gray;
    position: fixed;
	z-index: 100;
    width: 100%;
    border: 0;
    border-radius: 0;
    @include box-shadow (0px 0px 10px 1px rgba(0,0,0,0.3));

    .toggle {
		position: relative;
		float: right;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: $charcoal;
		background-image: none;
		border: 1px solid $white;
		border-radius: 4px;
		outline: 0;
  		@include transition(background-color 0.2s ease-in);

		&:hover {
			background-color: $charcoal-dark;
		}

		.icon-bar {
		    display: block;
		    width: 22px;
		    height: 2px;
		    border-radius: 1px;
    		background-color: rgba(255, 255, 255, 0.9);
		}

		.icon-bar+.icon-bar {
		    margin-top: 4px;
		}

    }

    .collapse-bar {
		border-top: 1px solid $gray-dark;
		margin-right: -15px;
		margin-left: -15px;
    }

    .logo {
    	color: $link-color;
    	text-decoration: none;
		float: left;
		height: 50px;
		padding: 15px 15px;
		font-size: $hugeSize;
    	font-weight: 700;
		line-height: 20px;
    }


    .dropdown {

    	.dropdown-menu {

    		li {

    			a {

    				.new {
						display: inline;
						text-align: center;
						font-size: 11px;
						font-weight: 700;
						line-height: 19px;
						color: #FFF;
						border-radius: 50%;
						background-color: #EA6C6C;
						width: 20px;
						height: 20px;
					    position: absolute;
					    right: 15px;
    				}

    			}

    		}
    	}

    }

    ul {
    	margin: 0;

    	li {
    		cursor: pointer;
  			@include transition(background-color 0.2s ease-in);
    	}

    	a {
    		text-decoration: none;
    		color: $link-color;
		    font-size: $mediumSize;
  			@include transition(background-color 0.2s ease-in);

  			&:hover {
		  		background-color: transparent;
  			}
    	}

    }

}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

@media (max-width: $screen-xs-max) {

	.navbar {

	    .dropdown {

	    	.dropdown-toggle {
	    		display: none;
	    	}

	    	.dropdown-menu {
			    display: block;
			    position: relative;
			    width: 100%;
			    background-color: transparent;
			    border: 0;
	    		padding: 0;

	    		li {

	    			a {    
	    				padding: 10px 15px;
			    		color: $link-color;
					    font-size: $mediumSize;
			  			@include transition(background-color 0.2s ease-in);
	    			}

	    		}
	    	}

	    }
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.navbar {

	    .toggle {
			display: none;
	    }

		.collapse-bar {
			display: block;    
			border-top: 0;
			margin-right: -15px;
			margin-left: -15px;

			> ul >li {
				
				height: 50px;

				&.active, &.active:focus {
					background-color: rgb(34, 36, 38);
					border-top: 3px solid $charcoal;

					a {
						top: -3px;
					}
				}

				&:hover {
					background-color: rgb(34, 36, 38);
				}

			}

			.sign-up {
			    padding-top: 7px;

			    > a, .dropdown > a {
					display: block;
					border-radius: 4px;
					color: $white;
					background-color: $charcoal;
					padding: 8px 16px;
  					@include transition(all 0.2s ease-in);

					&:hover, &:focus {
						color: $white;
						background-color: $charcoal-dark;
					}
			    }


			}

		}

	    .dropdown {

	    	.dropdown-menu {
    			top: 42px;
    			border-radius: 2px;

	    		li {

	    			a {
	    				padding-top: 6px;
	    				padding-bottom: 6px;

	    			}

	    		}
	    	}

	    }

	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}