.forum {

	padding-top: 50px;
	background-color: rgb(23, 34, 34);
	margin-bottom: 20px;

	.title {

		text-align: center;
		padding: 30px 0 10px;
		color: rgb(132, 180, 198);

		span {
			font-size: 24px;
		}

	}
	
	.new-post {

		font-size: 14px;
		background-color: #DCF2F3;
		border: 1px solid $gray-dark;
		border-radius: 0;
    	padding: 10px;
		margin: 0;
		margin-bottom: 6px;
		@include box-shadow (0 1px 5px rgba(0, 0, 0, 0.1));

		.top {

			margin-bottom: 5px;

			textarea#post, textarea#post:focus {
			    width: 100%;
			    font-size: 14px;
			    height: 60px;
			    border: 1px solid #10C8CD;
			    border-radius: 4px;
			    box-shadow: none;
			    outline: 0;
			    color: #888;
			    box-sizing: border-box;
			}

		}

		.bottom {

			.type {
				float: left;

				li {
					float:left;

					&:first-child {
						margin-right: 10px;
					}
				}

			}

			.postButton {
				float: right;
				outline: 0;
			    cursor: pointer;
			    box-sizing: border-box;
			    border-left: 1px solid #DDD;
			    height: 35px;
			    padding: 9px 0px;
			    width: 70px;
			    text-align: center;
			    border: 0;
			}

		}
	}

	.post-container {

		.post {
			background-color: rgb(24, 26, 27);
			border: 1px solid rgb(58, 63, 66);
			border-radius: 0;
			padding: 15px 15px;
			margin: 0;
			margin-bottom: 6px;
    		word-wrap: break-word;
   			@include box-shadow (0 1px 5px rgba(0, 0, 0, 0.1));

			.info {
    			font-size: 14px;

				.left {

					float: left;

					.name a {
						font-weight: 700;
						color: rgb(132, 180, 198);
					}

					.action {
						color: #888;
					}


				}

				.right {

					float: right;

					.location {

						color: #888;
						font-size: 13px;

						.fa-map-marker {
						    font-size: 15px;
							margin-left: 5px;
						    color: #03A9F4;
						}

					}

					.likes {

						color: #888;
						font-size: 13px;
						margin-left: 10px;

						.fa-heart {
							cursor: pointer;
						    font-size: 14px;
							margin-left: 5px;
						    color: #e81c4f;
						}

					}

					.date {
						color: #888;
						margin-left: 10px;
					}


				}


			}

			.content {
    			font-size: 14px;
				margin-top: 15px;

				&.image {
					text-align: center;
				}

				img {
					max-height: 200px;
					max-width:100%;
				}

			}

		}

	}

}



/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.forum {

		.title {
			span {
				font-size: 28px;
			}
		}

		.new-post {

			font-size: 16px;
    		width: 700px;
    		margin: 0 auto;
			margin-bottom: 15px;
    		padding: 15px;

		.top {

			textarea#post, textarea#post:focus {
			    font-size: 16px;
			    height: 80px;
			}

		}

		.bottom {

			.postButton {

			}

		}


		}

		.post-container {

    		width: 700px;
    		margin: 0 auto;

			.post {

				margin-bottom: 15px;
				padding: 15px 20px;

				.info {
	    			font-size: 16px;

					.right {

						.location {
							position: relative;
							top: -1px;

							.fa-map-marker {
								position: relative;
								top: -0px;
							}

						}

						.likes {
							position: relative;
							top: -1px;
						}

					}


				}

				.content {
					margin-top: 20px;
					margin-bottom: 10px;
	    			font-size: 16px;

					img {
						max-height: 250px;
					}

				}

			}

		}

	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}