.post-header {
	margin-top: 50px;
    margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border-radius: 5px;
	padding: 5% 0%;

	&.pet {
		margin-top: 5px;
	    margin-bottom: 5px;
	}

	.buttons {
		.floatleft {
    		float:left;
		}
		.floatright {
    		float:right;
		}

    	li {
		    margin-bottom: 10px;

		    a {
			    display: inline-block;
			    width: 100%;
    			padding: 15px 10px;
		    }
    	}
    }
}

.post {
	margin-top: 0px;
    margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border: 1px solid rgb(58, 63, 66);
	border-radius: 5px;
	padding: 5%;

	.top-buffer { 
		margin-top: 30px; 
	}
	.user_info {

		margin-bottom: 20px;

		.info {

			&:first-child {
				margin-bottom: 20px;
			}

			.icon {
				margin: 0px;
			}

			.info-piece-long-text {

				margin-top: 10px;
				display: block;
				text-align: left;

		    	.name {
		    		display: inline-block;
		    		font-weight: bold;
				}

			}

		}

	}

	.description {
		padding: 10px 0;
	}

	form {
		font-size: 14px;

		input.price {
			display: inline;
			width: 120px;

			&.low {
				margin-right: 5px;
			}

			&.high {
				margin-left: 5px;
			}

		}

	}

	.form-error {
		color: #E02D2D;
	}

	label {
		margin: 2px 0;
	}

	.post-button {
		width: 100%;
		height: $input-height;
		background-color: #10c8cd;
		color: white;
		border: none;
		border-radius: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.file-input {
		margin-top: 5px;
	}

	.select-pet {
		display: inline-block;
		width: calc(100% - 105px);
	}

	.add_pet.button {
	    display: inline-block;
	    text-align: center;
	    width: 100px;
	    padding-left: 0;
	    padding-right: 0;
	}

	.button.closeButton {

		position: relative !important;

		.fa {
			position: absolute;
			left: 20px;
			font-size: 20px;
			top: 7px;
		}

		span {    
			position: relative !important;
		    top: -1px !important;
		    right: -7px !important;
		}

	}

}

.recommendations {

    border: 0;
    padding: 0;
    margin-top: 0;

    .consider {
    	color: $link-color;
    	font-size: 20px;
    	font-weight: 700;
    	text-align: center;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.post-header {
		margin-top: 40px;
	    margin-bottom: 40px;

		.buttons {

	    	li {

			    a {
	    			padding: 15px 25px;
			    }
	    	}
	    }
	}

	.post {
		button.apply {
			width: 48% !important;
			float: left;

			&:first-child {
				margin-right: 8px !important;
			}
		}

		form {

			input.price {
				width: 150px;
			}

		}

	}

	.recommendations {

	    .consider {
	    	text-align: left;
	    }
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	.post-header {
		margin-top: 30px;
	    margin-bottom: 30px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

	.post {
		button.apply {
			float: right;
			width: 200px !important;

			&:first-child {
				margin-right: 0px !important;
			}
		}
	}
}
