.search-bar {
	background-color: $black-light;
	color: $white;
	padding-top: 50px;

	.search-container {
		padding: 20px 15px;
	}

	.search {
    	padding-top: 10px;

		label {
			display: none;
			margin-right: 10px;
		}

		input[type="text"] {
			font-size: $mediumSize;
		    width: 100%;
		    border-radius: 4px;
		    border: 0;
		    padding: 7px;
		    color: #000;

			&:focus {
				outline: 0;
			}
		}

	}

	.button {
		display: block;
    	margin: 10px 0;
		text-align: center;
	}

}

.search-results {

	.search-term {
		font-size: 20px;
		font-weight: 700;
		color: $link-color;
		margin: 30px 0;
		margin-bottom: 20px;
	}

	.new-post-btn {
	    text-align: center;
	    width: 200px;
	    margin: 0 auto;
    	cursor: pointer;
	}

	.new-post-link:hover {
		text-decoration: none;
	}

	.profile {
		border: 0;
		padding: 0;
		margin-top: 0;
		margin-bottom: 10px;
	}
}

.applied-msg {
	text-align: right;
	color: red;
}

.pagination {
	text-align: center;
    display: block;
    
	ul {
    	display: inline-block;
	}
}

@media (max-width: $screen-xs-max) {

	.pagination {
		li a {
		    padding: 6px 8px;
		    font-size: 12px;
		}
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.search-bar {

		.search-container {
			text-align: center;
			padding: 30px 0px;
		}

		.search {

			display: inline;
			padding: 10px;

			label {
				display: inline;
				font-size: 16px;
			}

			input[type="text"] {
			    width: initial;
			    min-width: 150px;
			}

		}

		.button {
			display: block;
    		padding: 8px 60px;
    		margin-top: 10px;
		    margin-left: 30px;
		    margin-right: 30px;
		}

	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
	.search-bar {

		.search {
			input[type="text"] {
			    width: initial;
			    min-width: 200px;
			}
		}

		.button {
		    margin-left: 80px;
		    margin-right: 80px;
		}

	}
	.search-results {
		.container {
			//width: 900px;
		}
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
	.search-bar {

		.search {
			input[type="text"] {
			    width: initial;
			    min-width: 200px;
			}
		}

		.button {
			display: inline-block;
			margin: 0;
			margin-left: 15px;
			min-width: 200px;
		}

	}
	.search-results {
		.container {
			//width: 1000px;
		}
	}
}